@model MyRewards.Models.Voucher

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Voucher</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Guid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Guid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sender_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sender_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Receiver_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Receiver_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActionType_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActionType_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpendFlag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpendFlag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Expiry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Expiry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SettleFlag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SettleFlag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SettledOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SettledOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VoucherOrder_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VoucherOrder_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Merchant_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Merchant_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VoucherSpend_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VoucherSpend_Id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
